---
const { data } = Astro.props
import { Vimeo } from '@astro-community/astro-embed-vimeo'
---

<div class="iframe-container">
	<Vimeo
		id={data.id}
		params="autoplay=1&muted=1&controls=0&loop=1&background=1"
		style={'position: absolute; width: 100%; height: 100%'}
	/>

	<!-- style={{ position: 'absolute', width: '100%', height: '100%' }} -->

	<!-- <iframe
		id={`vimeo-player-${data.id}`}
		class="vimeo-player"
		width={data.width}
		height={data.height}
		data-src={`https://player.vimeo.com/video/${data.id}?autoplay=1&muted=1&controls=0&loop=1&background=1`}
		data-id={data.id}
		allow="autoplay; fullscreen"
		sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups"
	></iframe> -->
	<span class="text-white">Loading...</span>
</div>

<style>
	.iframe-container {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #333;
	}
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border: none;
	}
</style>
