---
import '../styles/main.scss'
import Header from '../components/header.astro'
const { title, description, page, classArray } = Astro.props

const outputSitename = 'Gavin McGregor'

let outputTitle = 'Website SEO Title'
if (title) {
	outputTitle = title
}

let outputDescription = 'Websites SEO Meta Description'
if (description) {
	outputDescription = description
}

let outputClasses = ''
if (page) {
	outputClasses += page
	outputClasses += ' '
}
if (classArray) {
	outputClasses += classArray.join(' ')
}
---

<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- SEO -->
		<title>{outputTitle}</title>
		<meta property="og:title" content={outputTitle} />
		<meta name="description" content={outputDescription} />
		<meta property="og:description" content={outputDescription} />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en_GB" />
		<meta property="og:site_name" content={outputSitename} />
		<meta property="og:image" content="/assets/social/social-1.jpg" />

		<!-- Js -->
		<script is:inline>
			document.addEventListener('DOMContentLoaded', () => {
				const options = {
					root: null,
					threshold: 0,
					rootMargin: '-20% 0px'
				}
				const lazyObserver = new IntersectionObserver(function (entries, lazyObserver) {
					entries.forEach((entry) => {
						if (!entry.isIntersecting) {
							return
						}
						doLazyAni(entry.target)
						lazyObserver.unobserve(entry.target)
					})
				}, options)

				const lazyArray = document.querySelectorAll('[data-lazy]')
				lazyArray.forEach((el) => {
					lazyObserver.observe(el)

					const delayArray = el.querySelectorAll('[data-child-delay]')
					let offset = 0
					delayArray.forEach((child) => {
						child.style.transitionDelay = `${offset}s`
						offset += 0.1
					})
				})

				function doLazyAni(el) {
					el.classList.add('trans-in')
				}
			})
		</script>

		<!-- Astro -->
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
